.test{
    color: white;
    background-color: red;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}


/* random */
.bbox{
    box-sizing: border-box;
}
.ofhidden{
    overflow: hidden;
}
.ofxhidden{
    overflow-x: hidden;
}
.ofyhidden{
    overflow-y: hidden;
}


/* display */
.dflex {
  display: flex;
}
.dblock {
  display: block;
}
.dgrid{
    display: grid;
}


/* flexprop */
.jcenter {
  justify-content: center;
}
.acenter {
  align-items: center;
}
.jscenter{
    justify-self: center;
}
.ascenter{
    align-self: center;
}

/* position */
.pabsolute {
  position: absolute;
}
.prelative {
  position: relative;
}
.pfix{
    position: fixed;
}


/* shape */
.bradius50 {
  border-radius: 50%;
}

/* size */
.vw100{
    width: 100vw;
}
.vh100{
    height: 100vh;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}

/* colors */
.red{
    color: red;
}
.white{
    color: white;
}
.black{
    color: black;
}

/* bg color */
.bgred{
    background-color: red;
}
.bgwhite{
    background-color: white;
}
.bgblack{
    background-color: black;
}
